---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainGridLayout title="友情链接">
    <div class="card-base p-6 md:p-8">
        <div class="flex items-center gap-2 mb-6">
            <div class="h-8 w-8 rounded-lg bg-[var(--primary)] flex items-center justify-center text-white dark:text-black/70">
                <Icon name="material-symbols:diversity-3" class="text-[1.5rem]">
            </div>
            <h1 class="text-2xl font-bold text-black dark:text-white">友情链接</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            
            <a href="https://www.cloudflare.com/" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://www.cloudflare.com/favicon.ico" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">Cloudflare（主站托管平台）</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">CF大善人，赛博活佛</div>
            </a>

            <a href="https://github.com/saicaca/fuwari" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://avatars.githubusercontent.com/u/25200299?v=4" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">fuwari（本站使用的模板）</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">使用 Astro 构建的静态博客模板</div>
            </a>
                       
            <a href="https://code.visualstudio.com" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://code.visualstudio.com/assets/favicon.ico" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">Visual Studio Code</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">巨硬出品的编辑器，编辑器中的真神！</div>
            </a>
            
            <a href="https://github.com" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://github.githubassets.com/favicons/favicon.png" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">GitHub</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">Build and ship software on a single, collaborative platform | 在单一协作平台上构建和交付软件</div>
            </a>

            <a href="https://hitokoto.cn" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://hitokoto.cn/favicon.ico" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">一言</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">把一些句子汇聚起来，形成一言网络，以传递更多的感动</div>
            </a>

            <a href="https://2x.nz" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://q2.qlogo.cn/headimg_dl?dst_uin=2726730791&spec=0" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">AcoFork Blog</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">爱你所爱~ ❤</div>
            </a>

            <a href="https://www.ruyuan.icu/" target="_blank" class="friend-card">
                <div class="flex items-center gap-2">
                    <img src="https://www.ruyuan.icu/images/logo.png" loading="lazy" class="w-5 h-5 rounded">
                    <div class="font-bold text-black dark:text-white">如愿的博客</div>
                </div>
                <div class="text-sm text-black/50 dark:text-white/50">美好，如约而至</div>
            </a>

        </div>

        <!-- 申请友链 -->
        <div class="sponsors-section mt-8">
        	<h2 class="text-xl font-bold text-black dark:text-white mb-4 flex items-center gap-2">
        		<Icon name="material-symbols:group" class="text-[1.5rem] text-[var(--primary)]"/>
        		将您的网站加入本站友链
        	</h2>
        	<p class="text-sm text-black/60 dark:text-white/60">
        		请自行提交 Issue ： <a target="_blank" href="https://github.com/Kesally/fuwari/issues/new?title=%E5%8F%8B%E9%93%BE%E7%94%B3%E8%AF%B7%EF%BC%9A" class="transition link text-[var(--primary)] font-medium">点击这里提交</a>
        	</p>
        <br>
    </div>

</MainGridLayout>

<style>
    .friend-card {
        @apply flex flex-col gap-1 p-4 rounded-lg bg-[var(--card-bg)] hover:bg-black/5 dark:hover:bg-white/5;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
    }
    
    .friend-card:active {
        scale: .98;
        background-color: var(--btn-regular-bg-active);
    }
    
    .friend-card:hover {
        background-color: var(--btn-regular-bg-hover);
    }
    
    .friend-card:hover .font-bold {
        color: var(--btn-content);
    }
    
    .friend-card:hover .text-sm {
    @apply text-gray-700 dark:text-white;
    }

    .friend-card .font-bold,
    .friend-card .text-sm {
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
    }
</style>